*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
  background-color: lightgray;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root{
  background-color: white;
  margin: 50px auto;
  width: 80%;
  height: 50%;
  box-shadow: 0 0 12px;
  border-radius: 15px;
  overflow: none;
}
